@tailwind base;
@tailwind components;
@tailwind utilities;


.font-berkshire {
  font-family: 'Berkshire Swash', cursive;
}


*{
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}
