@tailwind base;
@tailwind components;
@tailwind utilities;


.font-berkshire {
  font-family: 'Berkshire Swash', cursive;
}


*{
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;

}



/* section resume card befor */


.experience-single {
    background: #222;
    padding: 40px 30px;
    margin-top: 30px;
    position: relative;
}


.experience-single:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-bottom: 30px solid #222;
    border-right: 30px solid transparent;
    position: absolute;
    top: -30px;
    left: 30px;
}

@media only screen and (max-width: 767px) {
  .experience-single {
    padding: 20px;
  }
}